.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
}

.footer a {
  cursor: pointer;
  color: var(--color-primary-light);
  text-decoration: underline;
  text-decoration-color: var(--color-primary-light);
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}